
.card {
    max-width: 300px;
    min-width: 300px;

    .card-body {
        padding-left: 30px;
        a {
            line-height: 20px;

            .fa-plus:before {
                margin-left: 3px;
            }
        }

        .add-btn {
            margin-bottom: 4px;
        }
    }
}

.new {
    color: white;
    background-color: #576BE3;
}

.inprogress {
    color: white;
    background-color: #B02B5F;
}

.inprogress-btn {
    width: 100%;
    text-align: left;
}

.done {
    color: white;
    background-color: #e30613;
}

.btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 20px;
    line-height: 1.428571429;
    border-radius: 25px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }

