.task-action-content {
    padding: 50px;
}

.form-content {
    margin: 20px 20%;
    .title {
        font-weight: 500;
    }
}

.actions {
    float: right;
}

.btn-save {
    margin-right: 10px;
}

.nav-item {

}

.view-tab {
    .alert {
        margin-top: 10px;
    }
}
