.task-card-list {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.task-card-new {
    margin-right: 50px;
}
.task-card-inprogress {
    margin-right: 50px;
}
.task-card-done {
    margin-right: 50px;
}